<a href="https://colab.research.google.com/github/ferreiraluana/minicurso-basico-python/blob/main/rascunho_aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hello World')

Hello World

In [13]:
 x = 2.3
 y = 3
 z = "carro"
 print(x**y - x*y + x%y)

7.566999999999998

In [14]:
z = 1.00
type(z)

float

In [15]:
a = False
b = True

type(a)

bool

In [ ]:
diabetes = False
glicose = 260
if glicose > 200:
  diabetes = True

In [18]:
diabetes = False
print("Digite o valor da glicose:")
glicose = int(input())
if glicose > 200:
  diabetes = True
elif glicose == 200:
  # faça qualquer coisa
else
  # qualquer outra coisa





print("O paciente é: {}".format())

Digite o valor da glicose:
250
True

In [52]:
classe = ["ana", "maria", "joao","jose", "gabi", "giovanna"]
nota = [10, 9.9, 10, 8, 9, 10]
print(max(nota))

10

In [47]:
luana = ("engenharia de computação", 6, 2030, "nasa")

In [44]:
# alunos que tiraram 10: d
d = 0
for i in range(len(classe)):
  if nota[i] == 10:
    d += 1
    print(classe[i])

print("A qtde de alunos que tiraram 10.0 é: {}".format(d))

ana
joao
giovanna
A qtde de alunos que tiraram 10.0 é: 3

In [50]:
def esporte_perfeito(altura, peso, genero):
  if altura > 1.90 and genero == "homem":
    esporte = "volei"
  if altura > 1.80 and genero == "mulher":
    esporte = ["volei","basquete","natacao"]
  
  return esporte

print(esporte_perfeito(1.85, 80, "mulher"))

['volei', 'basquete', 'natacao']

Condicionais:
if -> se
elif -> "else if" do contrário, caso não
else -> se não for

Variáveis
2
2.3
3.1415
"olá"
"x"
[0,1,2,3,4]
["maçã", "banana", "goiaba"]